@use "src/utils" as *;

.SocialLinks {
  position: fixed;
  z-index: 150;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 3em;

  a {
    display: block;
    padding: 0.2em;

    img {
      width: 1.2em;
      height: 1.2em;
      margin: 0.5em;
      vertical-align: middle;
      opacity: 0.6;
      transition: opacity $transition-defaults;
    }
    span {
      color: $text-color !important;
      text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.45);
      display: inline-block;
      transition: all $transition-defaults;
      opacity: 0;
      transform: translateX(-30px);
    }

    &:hover {
      img {
        opacity: 0.8;
      }
      span {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
