@use "src/utils" as *;

.ProjectSection {
}

.ProjectTile {
  width: 30%;
  margin-right: 3.3%;
  display: inline-block;
  cursor: pointer;
  vertical-align: bottom;
  text-decoration: none;

  @media screen and (max-width: $tablet-width) {
    width: 45% !important;
    margin-right: 4.5% !important;
  }

  @media screen and (max-width: $mobile-width) {
    width: 100% !important;
    margin-right: 0 !important;
  }
  h3 {
    font-size: 1em;
    height: 3.5em;
    line-height: 1.4em;
    span {
      font-weight: normal;
      opacity: 0.8;
    }
  }
  img {
    width: 100%;
  }
}
