@use "src/utils" as *;

.EmailForm {
  padding-bottom: 8em;
  font-size: 1rem;

  input {
    font-family: "Work Sans";
    margin: 0.5em;
  }

  input[type="text"] {
    border: 0;
    padding: 0.3em 0.6em;
    border-radius: 500px;
  }

  button {
    border: 0;
    padding: 0.3em 0.6em;
    border-radius: 500px;
    cursor: pointer;
  }
}
