@use "src/utils" as *;

@font-face {
  font-family: ArbelHagilda;
  src: url("./fonts/ArbelHagildaRegular.otf");
  font-weight: 400;
}

@font-face {
  font-family: ArbelHagilda;
  src: url("./fonts/ArbelHagildaMedium.otf");
  font-weight: 600;
}

@font-face {
  font-family: ArbelHagilda;
  src: url("./fonts/ArbelHagildaBold.otf");
  font-weight: 800;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: $bg-color;
  color: $text-color;
  font-family: "ArbelHagilda", "Days", "Charter", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 20px solid red;
}

p {
  line-height: 1.6em;
  max-width: 40em;
}

.section {
  position: relative;
  z-index: 100;
  min-height: 80vh;
  padding: 2em 8em;
  box-sizing: border-box;
}
