.IntroSection {
  .logo-container {
    margin-left: -40px;
  }
  .intro {
    padding-top: 10%;
    h1 {
      font-weight: normal;
      color: #ffffff;
    }
    margin: auto;
    max-width: 40em;
  }
}
