@use "src/utils" as *;

.IntroSection {
  z-index: 101;
  height: 80vh;
  max-height: 800px;

  .intro {
    padding-top: 30vh;

    h1 {
      font-weight: normal;
      font-size: 1.6em;
      color: #ffffff;
    }
    margin: auto;
    max-width: 40em;
  }
}
