.IntroSection {
  .JonLogo {
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(0.5);

    &.inline {
      transform: scale(1);
    }
  }
  .intro {
    padding-top: 300px;

    h1 {
      font-weight: normal;
      font-size: 1.6em;
      color: #ffffff;
    }
    margin: auto;
    max-width: 40em;
  }
}
