@use "src/utils" as *;

@keyframes loading {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.25;
  }
}

.imageWrapper {
  &::before {
    background-color: #ffffff;
    animation: loading 800ms infinite alternate ease-in-out;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  opacity: 0;
  transition: opacity 500ms;

  &.loaded {
    opacity: 1;
  }
}
