@keyframes loading {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes loaded {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-wrapper {
  position: relative;
  width: 100%;
  line-height: 0;
}

.image-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #aaaaaa;
  animation: loading 1s infinite linear running alternate;
  display: none;
}

.image {
  position: relative;
  width: 100%;
  max-width: 100%;
  animation: loaded 300ms;
  animation-fill-mode: both;
}
