@use "src/utils" as *;

.ProjectPage {
  min-height: 100vh;
  padding: 1em 4em 0em 4em;
  text-align: center;

  @media screen and (max-width: $tablet-width) {
    padding-left: 2em;
    padding-right: 2em;
  }
  @media screen and (max-width: $mobile-width) {
    padding: 8em 0em 0em 0em;
  }

  p,
  ul,
  h1,
  h2,
  h3,
  h4 {
    position: relative;
    z-index: 100;
  }

  figure {
    width: 80%;
    max-width: 36em;
    margin: 2em;
    margin-left: 2em;

    @media screen and (max-width: $mobile-width) {
      margin: 0;
      width: 100%;
    }
  }
  img {
    max-width: 100%;
  }
  .Caption {
    display: inline-block;
    opacity: 0.5;
    margin-left: 1em;
    margin-top: 1em;

    span {
      font-style: italic;
    }
  }
  .Screenshot {
    width: 80%;
    margin: auto;
    margin-top: -100px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    max-width: 1600px;
    overflow: hidden;
    img {
      object-fit: cover;
    }

    @media screen and (max-width: $mobile-width) {
      border-radius: 0;
      width: 100%;
      height: 50vh;
      object-fit: cover;
      margin-top: -8em;
    }
  }

  .Button {
    position: absolute;
    top: 3em;
    right: 10em;
    background-color: #ffffff;
    z-index: 101;

    @media screen and (max-width: $tablet-width) {
      top: 2em;
      right: 6em;
    }

    @media screen and (max-width: $mobile-width) {
      top: 2em;
      right: 2em;
    }
  }

  .subtitle {
    font-weight: bold;
    color: #ffffff;
  }
  h1 {
    font-weight: normal;
  }
  ul.List {
    list-style-type: none;
    padding: 0;
    li {
      line-height: 1.8em;
      &::before {
        content: "-";
        display: inline-block;
        margin: 0 0.5em;
      }
    }
  }
}

.halfImage {
  width: 40%;
  margin: 1em;
  display: inline-block;

  @media screen and (max-width: $mobile-width) {
    width: 100%;
    margin: 1em 0;
  }
}

.carousel {
  display: flex;
  align-items: center;
  max-width: 1000px;

  &:hover .CarouselArrow {
    opacity: 0.5;
  }
}

.CarouselArrow {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $bg-color;
  font-size: 2em;
  position: absolute;
  top: 50%;
  z-index: 150;
  transform: translateY(-100%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 500px;
  opacity: 0;
  transition: opacity $transition-defaults,
    background-color $transition-defaults;

  &:hover {
    opacity: 1 !important;
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

.earth3d {
  float: right;
  width: 400px;
  height: 400px;

  @media screen and (max-width: $tablet-width) {
    float: none;
    max-width: 100%;
    margin: auto;
  }

  &.torus {
    float: left;

    @media screen and (max-width: $tablet-width) {
      float: none;
    }
  }
}

.slideContainer {
  margin: 2em;

  @media screen and (max-width: $mobile-width) {
    margin: 0;
    margin-top: 2em;
  }
}

.muserCircles {
  bottom: 0;
  width: 100%;
  max-width: 1700px !important;
  min-width: 1200px !important;
  margin-bottom: -50px;

  @media screen and (max-width: $mobile-width) {
    min-width: 800px !important;
    margin-left: -50%;
  }
}

.muserTimeline {
  display: block;
  width: 100%;
  height: 1em;
  border-radius: 500px;
  margin-bottom: 0.5em;
  margin-top: 1.75em;

  &::before,
  &::after {
    position: absolute;
    top: -2em;
    font-size: 0.8em;
    opacity: 0.5;
  }
  &::before {
    content: "0:00";
    left: 0;
  }
  &::after {
    content: "4:23";
    right: 0;
  }

  background-image: linear-gradient(
    to right,
    rgb(69, 98, 125),
    rgb(59, 94, 126),
    rgb(105, 100, 98),
    rgb(86, 111, 126),
    rgb(94, 113, 111),
    rgb(108, 119, 96),
    rgb(111, 117, 90),
    rgb(124, 124, 89),
    rgb(122, 115, 117),
    rgb(100, 117, 100),
    rgb(78, 106, 122),
    rgb(73, 103, 120),
    rgb(69, 101, 123),
    rgb(85, 108, 103),
    rgb(74, 102, 122),
    rgb(88, 107, 104),
    rgb(117, 121, 94),
    rgb(111, 117, 96),
    rgb(102, 112, 92),
    rgb(62, 98, 110),
    rgb(105, 109, 128),
    rgb(106, 110, 129),
    rgb(109, 115, 125),
    rgb(114, 118, 119),
    rgb(116, 84, 107),
    rgb(131, 54, 75),
    rgb(125, 41, 70),
    rgb(143, 68, 65),
    rgb(139, 70, 73),
    rgb(138, 69, 73),
    rgb(138, 60, 70),
    rgb(133, 47, 66),
    rgb(132, 51, 70),
    rgb(132, 56, 75),
    rgb(138, 65, 76),
    rgb(136, 68, 74),
    rgb(131, 45, 65),
    rgb(130, 43, 65),
    rgb(132, 51, 70),
    rgb(132, 58, 72),
    rgb(135, 65, 72),
    rgb(140, 67, 68),
    rgb(138, 57, 68),
    rgb(132, 46, 67),
    rgb(127, 42, 68),
    rgb(131, 39, 61),
    rgb(128, 47, 60),
    rgb(136, 53, 67),
    rgb(138, 61, 71),
    rgb(141, 73, 73),
    rgb(143, 81, 75),
    rgb(137, 88, 81),
    rgb(127, 66, 78),
    rgb(139, 75, 78),
    rgb(150, 85, 78),
    rgb(157, 100, 79),
    rgb(153, 87, 78),
    rgb(148, 81, 78),
    rgb(142, 71, 77),
    rgb(142, 74, 74),
    rgb(146, 80, 74),
    rgb(160, 93, 73),
    rgb(143, 69, 72),
    rgb(147, 74, 72),
    rgb(132, 57, 70),
    rgb(139, 68, 66),
    rgb(136, 58, 62),
    rgb(135, 74, 79),
    rgb(126, 56, 76),
    rgb(122, 85, 84),
    rgb(117, 116, 93),
    rgb(163, 150, 87),
    rgb(193, 166, 80),
    rgb(211, 182, 78),
    rgb(212, 184, 79),
    rgb(223, 195, 75),
    rgb(219, 195, 80),
    rgb(218, 195, 82),
    rgb(220, 195, 79),
    rgb(225, 194, 73),
    rgb(232, 194, 64),
    rgb(229, 194, 68),
    rgb(204, 181, 79),
    rgb(188, 173, 85),
    rgb(198, 181, 85),
    rgb(224, 195, 74),
    rgb(228, 194, 69),
    rgb(227, 194, 70),
    rgb(221, 195, 78),
    rgb(208, 186, 81),
    rgb(214, 188, 77),
    rgb(226, 194, 72),
    rgb(230, 194, 67),
    rgb(232, 194, 64),
    rgb(235, 194, 59),
    rgb(240, 189, 51),
    rgb(236, 194, 59),
    rgb(220, 195, 79),
    rgb(204, 185, 84),
    rgb(193, 179, 88),
    rgb(202, 184, 85),
    rgb(205, 174, 84),
    rgb(212, 182, 81),
    rgb(175, 119, 74),
    rgb(156, 79, 64),
    rgb(136, 56, 69),
    rgb(134, 45, 61),
    rgb(130, 39, 61),
    rgb(127, 42, 63),
    rgb(130, 55, 71),
    rgb(132, 63, 76),
    rgb(134, 60, 76),
    rgb(133, 55, 72),
    rgb(126, 39, 67),
    rgb(134, 59, 70),
    rgb(136, 58, 72),
    rgb(140, 72, 74),
    rgb(137, 64, 74),
    rgb(137, 67, 72),
    rgb(134, 62, 70),
    rgb(137, 57, 69),
    rgb(139, 58, 68),
    rgb(140, 66, 73),
    rgb(140, 65, 71),
    rgb(149, 78, 73),
    rgb(139, 69, 67),
    rgb(139, 65, 64),
    rgb(139, 71, 71),
    rgb(143, 73, 70),
    rgb(145, 70, 70),
    rgb(152, 76, 67),
    rgb(155, 71, 57),
    rgb(148, 64, 62),
    rgb(153, 77, 68),
    rgb(140, 86, 79),
    rgb(137, 70, 74),
    rgb(137, 62, 67),
    rgb(144, 60, 62),
    rgb(148, 69, 65),
    rgb(150, 79, 73),
    rgb(146, 65, 65),
    rgb(146, 61, 64),
    rgb(146, 69, 69),
    rgb(144, 68, 71),
    rgb(149, 77, 73),
    rgb(140, 70, 71),
    rgb(133, 51, 70),
    rgb(129, 40, 66),
    rgb(137, 72, 73),
    rgb(118, 108, 91),
    rgb(139, 132, 88),
    rgb(171, 149, 83),
    rgb(212, 177, 72),
    rgb(211, 159, 57),
    rgb(222, 195, 76),
    rgb(218, 195, 81),
    rgb(217, 195, 82),
    rgb(219, 195, 80),
    rgb(224, 195, 75),
    rgb(230, 194, 67),
    rgb(218, 188, 72),
    rgb(209, 182, 76),
    rgb(199, 181, 85),
    rgb(204, 185, 84),
    rgb(221, 195, 78),
    rgb(228, 194, 69),
    rgb(229, 194, 68),
    rgb(223, 195, 76),
    rgb(220, 195, 79),
    rgb(201, 182, 83),
    rgb(210, 185, 78),
    rgb(227, 194, 71),
    rgb(234, 194, 61),
    rgb(236, 194, 57),
    rgb(230, 181, 52),
    rgb(220, 159, 50),
    rgb(211, 186, 77),
    rgb(201, 183, 84),
    rgb(195, 180, 87),
    rgb(216, 195, 84),
    rgb(223, 195, 76),
    rgb(225, 195, 74),
    rgb(210, 166, 73),
    rgb(155, 83, 70),
    rgb(135, 54, 69),
    rgb(141, 64, 69),
    rgb(140, 63, 71),
    rgb(135, 61, 69),
    rgb(133, 59, 71),
    rgb(142, 69, 74),
    rgb(144, 78, 79),
    rgb(141, 69, 76),
    rgb(140, 68, 76),
    rgb(148, 81, 78),
    rgb(149, 78, 74),
    rgb(144, 78, 79),
    rgb(132, 47, 67),
    rgb(121, 25, 65),
    rgb(136, 50, 64),
    rgb(141, 65, 71),
    rgb(146, 68, 67),
    rgb(141, 62, 67),
    rgb(143, 66, 69),
    rgb(150, 77, 71),
    rgb(136, 55, 69),
    rgb(136, 63, 72),
    rgb(143, 82, 78),
    rgb(154, 81, 71),
    rgb(153, 82, 73),
    rgb(143, 66, 70),
    rgb(137, 66, 72),
    rgb(136, 87, 82),
    rgb(137, 85, 81),
    rgb(162, 96, 74),
    rgb(165, 97, 72),
    rgb(145, 77, 71),
    rgb(148, 72, 70),
    rgb(152, 86, 72),
    rgb(151, 80, 74),
    rgb(131, 79, 80),
    rgb(141, 75, 74),
    rgb(133, 88, 82),
    rgb(131, 97, 85),
    rgb(133, 87, 82),
    rgb(143, 100, 84),
    rgb(193, 140, 75),
    rgb(174, 111, 74),
    rgb(161, 87, 72),
    rgb(129, 51, 74),
    rgb(145, 76, 78),
    rgb(167, 106, 78),
    rgb(187, 143, 78),
    rgb(199, 184, 87),
    rgb(178, 154, 80),
    rgb(212, 177, 72),
    rgb(206, 170, 73),
    rgb(217, 180, 69),
    rgb(213, 182, 76),
    rgb(218, 195, 81),
    rgb(222, 195, 77),
    rgb(227, 194, 70),
    rgb(209, 179, 72),
    rgb(211, 183, 73),
    rgb(204, 181, 79),
    rgb(202, 186, 87),
    rgb(202, 185, 86),
    rgb(209, 188, 82),
    rgb(226, 194, 72),
    rgb(227, 194, 71),
    rgb(223, 195, 75),
    rgb(223, 195, 76),
    rgb(215, 189, 77),
    rgb(226, 194, 71),
    rgb(227, 194, 71),
    rgb(227, 194, 71),
    rgb(221, 175, 60),
    rgb(220, 175, 67),
    rgb(233, 194, 62),
    rgb(223, 195, 75),
    rgb(206, 185, 81),
    rgb(198, 183, 87),
    rgb(211, 180, 77),
    rgb(229, 194, 68),
    rgb(226, 194, 72),
    rgb(216, 164, 56),
    rgb(201, 118, 62),
    rgb(187, 91, 45)
  );
}
